/*Global*/

.header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(8 1fr)
}

.header_image {

  grid-column: 1/4;
  grid-row: 1/5;
}

.city_image {
grid-column: 2/3;
grid-row: 4/9;
}

.header img {
  width: 100%;
}

/*Employee section
.employee_grid {
  max-width: 100%;
  
  display: grid;
  margin-top: 3em;
 grid-gap: 1em;
 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 
}
*/